#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:rgb(127, 134, 122) ;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}



.redessociales {
  display: flex;
  gap: 8px;
}

.nav { 
  display: flex;
  gap: 8px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 32px;
}

.women {
  width: 100px;
  height: 100px;
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 8px; 
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: width 0.5s ease, background-color 0.5s ease;
}

article:hover{
  width: 200px; /* Cambia el ancho */
  background-color: #00bcd4; /* Cambia el color del fondo */
}

img {
  width: 150px; /* Ajusta el tamaño de la imagen */
  height: 150px;
  border: 5px solid #99968e; /* Borde alrededor de la imagen */
  border-radius: 50%; /* Hace el borde circular */
  object-fit: cover; 
}